<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tabla de multiplicar</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../asset/css/global.css'>
</head>
<body>
    <table class="multiplicar">
        <thead>
            <tr>
                <th>Tabla de multiplicar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2 x 1 = 2</td>                
            </tr>
            <tr>
                <td>2 x 2 = 4</td>                
            </tr>
            <tr>
                <td>2 x 3 = 6</td>
            </tr>
            <tr>
                <td>2 x 4 = 8</td>
            </tr>
            <tr>
                <td>2 x 5 = 10</td>
            </tr>
            <tr>
                <td>2 x 6 = 12</td>
            </tr>
            <tr>
                <td>2 x 7 = 14</td>
            </tr>
            <tr>
                <td>2 x 8 = 16</td>
            </tr>
            <tr>
                <td>2 x 9 = 18</td>
            </tr>
            <tr>
                <td>2 x 10 = 20</td>
            </tr>
        </tbody>
    </table>
</body>
</html>